.col {
    margin: 250px;
    box-shadow: 1px 1px 10px 3px grey;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F2F0D5;
    /* padding: 5px; */
}

#bloco-login {
    margin-top: 25px;
}

.form-label {
    color: black;
}

body {
    background-image: linear-gradient(45deg, #F2EEAC 0%, #F2B705 100%);
}

.btn {
    width: 40%;
}